*{
    margin: 0px;
    padding: 0px;
}

/* Home---------------------------------------------------------------------------------------------------- */
.header,
.header2{
    background-color: #407CD6;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    padding: 10px;
}
.logo,
.logo2{
    width: 60px;
    height: 60px;
}

/* Carrinho------------------------------------------------------------------------------------------------ */

.header2 a {
    padding-right: 20px;
    color: white;
}

.logo2 {
    padding-left: 20px;
}